body {
  	padding-top: 50px;
  	padding-bottom: 20px;
  	margin-bottom: 60px;
  	background-color:#eee !important;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top:10px;
  color:#fff;
}